@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$blue: #337ab7;
$blue-hover: #286090;
$gray: #286090;
$gray-hover: #204d74;

@mixin font-icon ($unicode){
	content: $unicode;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration:none;
}

body {
	margin: 0;
	font-size: 15px;
	color: #39464E;
	font-family: "Open Sans";
}

.body {
	display: flex;
	flex-direction: row;
}

header {
	margin: 5px;
	font-size: 30px;
	text-align: center;
}

nav {
	flex: 0 0 15em;
	margin: 20px;
}

main {
	flex: 1;
	margin: 20px;
}

form {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #ccc;
	padding: 20px;
	background-color: #fafafa;
}

.article {
	&-header{
		display: block;
	}

	&-body{
		display: flex;
		flex-direction: row;
	}

	&-image{
		flex: 0 1 20em;
		min-width:0;
		img{
			max-width:100%;
		}
	}
	&-content{
		flex: 1;
		margin: 10px;
		span {
			font-weight: bold;
		}
	}
}

.button {
	display: inline-block;
	padding: 6px 12px;
	font-size: inherit;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	background-color: $blue;
	border-color: #2e6da4;

	&:hover{
		color: #fff;
		background-color: $blue-hover;
		border-color: $gray-hover;
	}   
}

.border {
	-webkit-border-radius: 5px 4px 4px 5px;
	-moz-border-radius: 5px 4px 4px 5px;
	border-radius: 5px 4px 4px 5px;
	-webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
	-moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
	box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
	border: solid 1px #DADADA;
}

.select {
	background: #FFF;
	overflow: hidden;
	display: block;
	font-weight: 300;
	@extend .border;
	cursor: pointer;
	padding-right: 10px;
	position: relative;
	margin-bottom: 5px;

	&:after {
		@include font-icon ('\f0d7');
		position: absolute;
		right: 10px;
		top: 8px;
	}

	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		font-size: inherit;
		background:transparent;
		border:none;
		outline:none;
		cursor:pointer;
		padding:7px 10px;
		width: 100%;
	}
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.source {
	@extend .border;
	padding: 10px;
	margin-bottom: 3px;
	cursor:pointer;
	border-color: $gray;

	&:hover, &-selected {
		color: #fff;
		background-color: $gray;
		border-color: $gray-hover;
	}

	&:after {
		color: $blue;
		font-size: 24px;
		@include font-icon ('\f0a9');
		float: right;
	}

	&:hover:after, &-selected:after{
		color: #fff;
	}
}

@media only screen and (max-width: 1000px) {
	.body {
		flex-direction: column;
	}
}

@media only screen and (max-width: 600px) {
	.article .article-body{
		flex-direction: column;
	}
}


